<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">%d %p %C{1.} [%t] %m%n</Property>
    </Properties>

    <Appenders>
        <Console name="STDOUT">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
        </Console>

        <File name="EMPLOYEE_LOG" fileName="./logs/employee.log">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </File>
        <File name="PROJECT_LOG" fileName="./logs/project.log">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </File>
        <File name="AUTHENTICATION_LOG" fileName="./logs/authentication.log">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </File>
        <File name="PROJECT_TEAM_LOG" fileName="./logs/project_team.log">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </File>
        <File name="JWT_SERVICE_LOG" fileName="./logs/jwt_service.log">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </File>
        <File name="USER_SERVICE_LOG" fileName="./logs/user_service.log">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </File>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="STDOUT"/>
        </Root>

        <Logger name = "ru.shchelkin.project_management.business.service.auth.AuthenticationService"
                level="info">
            <AppenderRef ref="AUTHENTICATION_LOG"/>
        </Logger>
        <Logger name = "ru.shchelkin.project_management.business.service.employee.EmployeeJpaService"
                level="info">
            <AppenderRef ref="EMPLOYEE_LOG"/>
        </Logger>
        <Logger name = "ru.shchelkin.project_management.business.service.project.ProjectJpaService"
                level="info">
            <AppenderRef ref="PROJECT_LOG"/>
        </Logger>
        <Logger name = "ru.shchelkin.project_management.business.service.project_team.ProjectTeamJpaService"
                level="info">
            <AppenderRef ref="PROJECT_TEAM_LOG"/>
        </Logger>
        <Logger name = "ru.shchelkin.project_management.business.service.security.JwtService"
                level="info">
            <AppenderRef ref="JWT_SERVICE_LOG"/>
        </Logger>
        <Logger name = "ru.shchelkin.project_management.business.service.security.UserService"
                level="info">
            <AppenderRef ref="USER_SERVICE_LOG"/>
        </Logger>
    </Loggers>
</Configuration>
